
a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Martel';
    background: white;
}

.contents {
    background: white;
}

#profileImage {
    height: 200px;
    background-image: url('http://drive.google.com/uc?export=view&id=1_HgCP72zQ1gFKUqcnh6xeTDpqvsyv6--');
    background-position: center bottom;
    background-size: cover;
}

/*--- basic setting ---*/

.mainpage {
    display: grid;
    grid-template-rows: 90px auto;
}

.sidebar {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 6px;
    height: auto;
    width: 100vw;
    background: white;
    top: 0;
}


.sidebar h1 {
    font-size: 20pt;
    border-style: solid;
    border-image: linear-gradient(to right, #00249c 0%,#0098d4 100%);
    border-image-slice: 1;
    border-width: 5px;
    padding: 6px;
    margin: 0px 6px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: -webkit-linear-gradient(bottom left, #00249c 0%,#0098d4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-list {
    padding-left: 6px;
}

.nav-item {
    display: inline-block;
    font-size: 12pt;
}

.contents {
    grid-row-start: 1;
    padding-left: 6px;
}

.contact-grid {
    display: grid;
    grid-column: 1;
    grid-row: 3;
}

.news-grid {
    display: grid;   
}

.news-col-2 {
    padding-bottom: 12px;
}

.news-col-1 {
    font-weight: 900;
}

.project-grid {
    display: grid;
    grid-template-areas: "project-col-1 project-col-2";
    grid-template-columns: 2fr 3fr;
    column-gap: 12px;
    row-gap: 12px;
}

.project-col-2 h4 {
    margin: 0;
}

.project-col-2 p {
    font-size: 12px;
    margin: 0;
    padding-bottom: 12px;
}

.project-col-2 h5 {
    margin-top: 0;
    margin-bottom: 12px;
}

.project-col-1 {
    background-size: cover;
    background-position: center center;
    border: 3px solid black;
}

#project1 {
    background-image: url('https://image.freepik.com/free-vector/hand-drawn-background-mobile-phone-with-checklist_23-2147607986.jpg');
}
#project2 {
    background-image: url('https://image.freepik.com/free-vector/chatbot-concept-background-with-mobile-device_23-2147831507.jpg');
}
#project3 {
    background-image: url('https://image.freepik.com/free-vector/characters-senior-people-holding-healthcare-icons_53876-43277.jpg');
}
#project4 {
    background-image: url('https://image.freepik.com/free-vector/man-woman-browsing-internet-medical-website_1262-19802.jpg');
}
#project5 {
    background-image: url('https://image.freepik.com/free-vector/sketchy-children_23-2147515093.jpg');
}
#project6 {
    background-image: url('https://image.freepik.com/free-vector/modern-coffee-shop-interior-with-flat-design_23-2147905685.jpg');
}
#project7 {
    background-image: url('https://image.freepik.com/free-vector/business-people-working-project-flat-icon_1262-18770.jpg');
}
#project8 {
    background-image: url('https://image.freepik.com/free-vector/apple-watch_1034-36.jpg');
}
#project9 {
    background-image: url('https://image.freepik.com/free-vector/mobile-background-appliances-with-internet_23-2147635903.jpg');
}
#project10 {
    background-image: url('https://image.freepik.com/free-vector/antigravity-people-background_23-2148074425.jpg');
}


@media (min-width: 800px){
    .container{
        margin-top: 30px;
    }

    .mainpage {
        grid-template-columns: 270px auto;
        grid-template-rows: 66px auto;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .sidebar{
        position:fixed;
        width: 270px;
        margin-top: 30px;
    }

    .sidebar h1 {
        margin: 0 auto;
        padding: 9px 12px;
        font-size: 22pt;
        border-width: 6px;
    }
    
    .contents {
        max-width: 700px;
        grid-column-start: 2;
    }

    .nav-item {
        display: block;
        margin-left: 30px;
    }

    .mail {
        grid-area: mail;
    }

    .sns {
        grid-area: sns;
    }

    .office {
        grid-area: office;
    }

    .contact-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 12px;
        grid-template-areas: 
        "mail sns"
        "office office";
    }

    .news-grid {
        grid-template-columns: 75px auto;
        grid-row-gap: 12px;
    }

    .news-col-2 {
        padding-bottom: 0;
    }

    .project-grid {
        grid-row-gap: 15px;
        grid-template-columns: 3fr 4fr;
    }
    
}

@media (min-width: 1000px) {
    .container {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}


/*-- sidebar setting --*/

.nav-item a:hover {
    background: #00249c;
    color: white;
}

.contents a{
    color: #0098d4;

}

.contents a:hover {
    text-decoration: underline;
    color: #00249c;
}