/*--- basic setting ---*/



body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: white;
    padding:0;
    margin:0;
}

a {
    color: #005b80;
}



/*-- header setting --*/

header {
    /*overflow: hidden;*/
    display: inline-block;
    position:fixed;
    top:0;
    left:0;
    width:225px;
    height: 100%;
    padding: 1rem;
    background: linear-gradient(145deg, #143060, #0f2852);
    /*background-color:#142b53;*/
    /*background-color: rgb(0, 71, 149);*/
    /*justify-content: space-between;*/
    align-items: center;
}

a.header-btn {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


#logo_img {
    background-image: url('logo_mglee.png');
    background-size: cover;
    height: 46px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.logo h1 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin: 0px;
}

.navbar {
    margin-right:2rem;
}

.navbar a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    padding: 9px 0px;    
}

/*.nav-item a:hover {
    background: #0e3e7e;
    color: white;
}*/

/*-- main content setting --*/

#main-content {
    padding-left: 320px;
    padding-right: 90px;
    width: 60%;
}

#main-introduction {
    /*transform-style: preserve-3d;*/
    /*position: relative;*/
    /*perspective: 4px;*/
    overflow:hidden;
    margin:0;
}

#main-introduction h1 {
    font-size: 48px;
}

#profileImage {
    background-image: url('IMG_0172.jpeg');
    background-position: 45% 50%;
    background-size:cover;
    background-repeat: no-repeat;
    height: 420px;
    /*background-attachment:fixed;
    /*transform: translate3d(-200px, -400px, -2px) scale(2);
    z-index: -1;*/
}

#mglee-description {
    margin-top: 60px;
}


#mglee-description p {
    margin-top: 30px;
    font-size: 18px;
}

.inst_link {
    color:  #005b80;
    font-weight: 600;
}

.em_link {
    color: #005b80;
    font-weight: 600;
}

/* contact */

.contact-area {
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact-title {
    display:inline-block;
    background-color: #005b80;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 12px;
    font-size: 21px;
    margin-bottom: 15px;
}

.contact-grid {
    display: grid;
    grid-column: 1;
    grid-row: 3;
}

.contact-link {
    color: rgb(0, 173, 221);
}

/*.contact-area {
    float: right;
    background-color: #6681ae;
    height: 345px;
    width: 50%;
    padding: 45px;
    margin-top: 90px;
    margin-right: 90px;
    margin-bottom: -90px;
    color: rgb(0, 0, 0);
    border-radius: 35px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 60px #d9d9d9,
                  -20px -20px 60px #ffffff;
    transform: rotate(-6deg);
}*/

/* affiliation contents */

#affiliation-content {
    padding-bottom: 90px;
}

.affiliation-grid {
    display: grid;
    grid-template-columns: 180px auto;
    grid-gap: 0px;
}

.affiliation-col-2 {
    padding: 12px;
}

.affiliation-col-1 {
    font-weight: 700;
    padding: 12px;
}



/* news contents */

#news-content {
    padding-bottom: 90px;
}

.news-grid {
    display: grid;
    grid-template-columns: 120px auto;
    grid-gap: 0px;
}

.news-col-2 {
    padding: 12px;
}

.news-col-1 {
    font-weight: 700;
    padding: 12px;
}

.news-grid span:nth-child(4n+1), .news-grid span:nth-child(4n+2) {
    background-color: rgb(240, 240, 240);
}


/* publicacion */

/*-- contents --*/




.publication-list {
    background: white;
    grid-row-start: 2;
    padding-bottom: 120px;
}

.publication-list a{
    color: #005b80;;

}

.publication-cat {
    background-color: #005b80;
    font-size: 28px;
    margin-top: 60px;
    padding-left:12px;
    color: white;
}

.publication-grid {
    display: grid;
    grid-template-rows: 3;
    margin-bottom: 21px;
}

.paperTitle {
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 9px;
}

.authorship {
    line-height: 120%;
    margin-bottom: 9px;
}


#conference, #dissert {
    margin-top: 60px;
}


/* honors */

#honors-area {
    padding-bottom: 90px;
}

.honors-grid {
    display: grid;
    grid-template-columns: 180px auto;
    grid-gap: 0px;
}

.honors-col-2 {
    padding: 12px;
}

.honors-col-1 {
    font-weight: 700;
    padding: 12px;
}



/*------RESPONSIVE-------*/


@media (min-width: 800px){
     
}