/*--- basic setting ---*/


a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Martel';
    background: white;
}

.mainpage {
    display: grid;
    grid-template-rows: 130px auto;
}

#footer {
    height: 120px;
}

/*-- sidebar setting --*/


.sidebar {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding-top: 15px;
    padding-bottom: 6px;
    height: auto;
    width: 100vw;
    background: white;
    top: 0;
}


.sidebar h1 {
    font-family: 'Times New Roman', Times, serif;
}

/*
.sidebar h1 {
    display: inline-block;
    font-size: 20pt;
    border-style: solid;
    border-image: linear-gradient(to right, #00249c 0%,#0098d4 100%);
    border-image-slice: 1;
    border-width: 5px;
    padding: 6px;
    margin: 0px 6px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: -webkit-linear-gradient(bottom left, #00249c 0%,#0098d4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

.nav-list {
    padding-left: 6px;
}

.nav-item {
    display: inline-block;
    font-size: 12pt;
}

.nav-item a:hover {
    background: #00249c;
    color: white;
}



/*-- contents --*/


.contents {
    background: white;
    grid-row-start: 2;
    padding-left: 6px;
}

.contents a{
    color: #005b80;;

}


.publication-grid {
    display: grid;
    grid-template-rows: 3;
    margin-bottom: 21px;
}

.paperTitle {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 9px;
}

.authorship {
    line-height: 120%;
    margin-bottom: 9px;
}


#conference, #dissert {
    margin-top: 60px;
}



@media (min-width: 500px){
    .sidebar {
        flex-direction: row;
    }

    .sidebar h1{
        display: flex;
    }

    .mainpage {
        display: grid;
        grid-template-rows: 90px auto;
    }
}


@media (min-width: 800px){
    .container{
        margin-top: 30px;
    }

    .mainpage {
        grid-template-columns: 270px auto;
        grid-template-rows: 66px auto;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .sidebar{
        position:fixed;
        width: 270px;
        margin-top: 30px;
    }

    .sidebar h1 {
        margin: 0 auto;
        padding: 9px 12px;
        font-size: 22pt;
        border-width: 6px;
    }
    
    .contents {
        max-width: 700px;
        grid-row-start: 1;
        grid-column-start: 2;
    }

    .nav-item {
        display: block;
        margin-left: 30px;
    }

    
  
    
}

@media (min-width: 1000px) {
    .container {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

